@import '@csstools/normalize.css';
@import './variables.css';
/* @import-normalize; */

:global(body) {
    font-family: Arial, Sans-Serif;
    font-size: var(--font-size-base);
    line-height: 1.15;
}

.wrapper {
    margin: auto;
    max-width: 100%;
    width: 768px;
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
