:root {
    --font-size-base: 1rem;
    --font-size-h1: 1.5rem;
    --font-size-h2: 1.25rem;
    --font-size-h3: 1.15rem;
    --item-margin: 2rem;
    --item-header-margin: 0.35rem;
    --item-input-margin: 0.15rem;
}
